@media only screen and (min-width: 0) and (max-width: 8000px){
    ion-content {
      --color: #ff00b3;
      --background: #202020;
    }
  }

  .inp1 {
    --color: black;
    --background: white;
}
.inp2 {
    --color: black;
    --background: white;
}
.inp3 {
    --color: black;
    --background: white;
}
.inp4 {
    --color: black;
    --background: white;
}

.lab1 {
    --color: white;
    --background: #181818;
}

.lab2 {
    --color: white;
    --background: #181818;
}

.lab3 {
    --color: white;
    --background: #181818;
}

.lab4 {
    --color: white;
    --background: #181818;
}

.titt{
    --color: white;
    --background: #202020;
}

.bto1{
    --color: white;
    --background: #d16a0f; 
}
.bto2{
    --color: white;
    --background: #d16a0f;
}
.bto3{
    --color: white;
    --background: #d16a0f;
}