@media only screen and (min-width: 0) and (max-width: 8000px){
    ion-content {
      --color: #ff00b3;
      --background: #202020;
    }
  }

.inp1 {
    --color: white;
    --background: #202020;
}
.inp2 {
    --color: white;
    --background: #202020;
}
.inp3 {
    --color: white;
    --background: #202020;
}
.inp4 {
    --color: white;
    --background: #202020;
}

.lab1 {
    --color: white;
    --background: #181818;
}

.lab2 {
    --color: white;
    --background: #181818;
}

.lab3 {
    --color: white;
    --background: #181818;
}

.lab4 {
    --color: white;
    --background: #181818;
}
.lab5 {
    --color: white;
    --background: #181818;
}
.lab6 {
    --color: white;
    --background: #181818;
}
.lab7 {
    --color: white;
    --background: #202020;
}
.titt{
    --color: white;
    --background: #202020;
}

.bto1{
    --color: white;
    --background: #d16a0f; 
}
.bto2{
    --color: white;
    --background: #d16a0f;
}
.bto3{
    --color: white;
    --background: #d16a0f;
}
.btoImg1{
    --color: white;
    --background: #d16a0f;
}
.btoImg2{
    --color: white;
    --background: #d16a0f;
}
.navbar1{
    --color:white;
    --background:#202020;
  }