
<ion-header>
  <ion-toolbar class="tit">
    <ion-title >Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="lbl1"> 
    <p>Contáctenos... </p>
    <ion-button class="btn1" (click)="llamada()"><ion-icon name="call"></ion-icon></ion-button>
  </ion-item>  

  <ion-item class="lbl2">
    <p>Encuéntranos... </p>
  </ion-item>
  <div id="mapId" style="width:100%; height:50%; "></div>
</ion-content>

<ion-toolbar >
  <ion-tabs  >
    <ion-tab-bar class="navbar1" slot="end">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Incio</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="login">
        <ion-icon name="person-add"></ion-icon>
        <ion-label>Log in</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="informacion">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Acerca de...</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
