@media only screen and (min-width: 0) and (max-width: 8000px){
  ion-content {
    --color: #d16a0f;
    --background: #202020;
  }
}

.lbl1{
  --color: #d16a0f;
  --background: #181818;
}

.lbl2{
  --color: #d16a0f;
  --background: #181818;
}

.btn1{
  --color: white;
  --background: #d16a0f;
}

.tit{
  --color: white;
  --background: #202020;
}

.navbar1{
  --color:white;
  --background:#202020;
}
