<ion-header [translucent]="true">
  <ion-toolbar class="titt2">
    <ion-title>
      Tienda de herramientas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)]="filtro" class="inpu1" placeholder="Introduce los datos del filtro"></ion-input>
  <h1 class="ha1">LISTA DE HERRAMIENTAS</h1>
    <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
      <ion-fab-button (click)="segundaPantalla()" color="danger"><ion-icon name="add"></ion-icon></ion-fab-button>
    </ion-fab>
      <ion-grid class="contenido">
      <ion-row>
        <ng-container *ngFor="let documentTienda of arrayColeccionTienda">
        <ion-col *ngIf="filtro=='' || documentTienda.data.titulo.includes(filtro)" size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="12">
          <ion-card class="tarjetas"  (click)="selecHerramienta(documentTienda)">
            <ion-card-content>
                <img src="{{documentTienda.data.imagen}}">
                <h2>{{documentTienda.data.titulo}}</h2>
                <p>{{documentTienda.data.precio}} €</p>
                <p>{{documentTienda.data.descripcion}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
      </ion-row>
    </ion-grid> 
    
</ion-content>


<ion-toolbar >
  <ion-tabs >
    <ion-tab-bar class="navbar2" slot="end">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Incio</ion-label>
      </ion-tab-button>


      <ion-tab-button (click)="logout()" *ngIf="this.userUID != '' "tab="login">
        <ion-icon name="person"></ion-icon>
        <ion-label>Logged</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="login()" *ngIf="this.userUID == ''" tab="login">
        <ion-icon name="person-add"></ion-icon>
        <ion-label>Log in</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="informacion">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Acerca de...</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>